<html>
   <body>
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">

<h3>	 Введите пароль ключа КриптоПро </h3>
         <br>
                  Пароль
            <input type = "password" name = "password" /> &emsp;        
<h3>	 Введите пароль от архива и загрузите его </h3>
<br>
         Пароль
	<input type = "password" name = "passwordarc" /> &emsp;
         <input type = "file" name = "file" /> <br><br><br>
         <input type = "submit"/>
      </form>   
   </body>
</html>


